.wrapper{
	overflow: hidden;
	min-height: 100%;
	position: relative;
	padding: 50px;
}

.page__container{
	width: 1000px;
	height: 1150px;
	margin: 0 auto;
	background: green;
	padding: 50px;	
	position: relative;
	overflow: hidden;
	perspective: 1000px;
	perspective-origin: center;
	/* z-index: 1; */
}

.page__fly {
	width: 100%;
	height: 200px;
	position: absolute;
	perspective: 400px;
	top: 0;
	left: 20;
	z-index: 3;
}

.bird{
	max-width: 100%;
	position: absolute;
}

.birds {
	
	
}

.birds__yellow {
	left: 0;
	top: 20px;
	transform: rotate3d(1, 1, 1, 15deg);
}

.birds__blue {
	left: 250px;
	top: 50px;
}

.birds__red {
	top: 10px;
	right: 250px;
}

.page__day-night{
	width: 150px;
	height: 150px;
	cursor: pointer;
	position: absolute;
	top: 20px;
	right: 20px;
	/* perspective: 900px; */
}

.page__day-night:hover .page__sun {
	transform: rotateY(180deg);
}

.page__day-night:hover .page__moon {
	transform: rotateY(360deg);	
}

.page__moon{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background: rgb(61, 61, 79);
	border: 5px solid black;
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 3;
	transform: rotateY(180deg);
	backface-visibility: hidden;
	transition: all 1s ease 0s;
}

.circle__one{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 3px solid black;
	background:rgb(45, 45, 78);
	position: absolute;
	top: 35px;
	left: 20px;
	transform: skew(-7deg, -7deg);
}

.circle__two {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 3px solid black;
	background: rgb(45, 45, 78);
	position: absolute;
	top: 90px;
	left: 90px;
	transform: skew(-15deg, -15deg);
}

.circle__three {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 3px solid black;
	background: rgb(45, 45, 78);
	position: absolute;
	top: 65px;
	left: 40px;
}

.circle__four {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	border: 3px solid black;
	background: rgb(45, 45, 78);
	position: absolute;
	top: 25px;
	right: 30px;
}

.circle__five {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: 3px solid black;
	background: rgb(45, 45, 78);
	position: absolute;
	bottom: 25px;
	left: 20px;
}

.page__sun{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border: 5px solid #ffa500;
	background: rgb(145, 86, 4);
	background: radial-gradient(circle, rgba(236, 140, 6, 1) 10%, rgba(240, 241, 4, 1) 100%);
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 3;
	backface-visibility: hidden;
	transition: all 1s ease 0s;
}

.page__night {
	width: 100%;
	height: 200px;
	background:rgb(42, 42, 118);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.page__river{
	width: 100%;
	height: 100%;
	background: rgb(84, 84, 250);
	transform: rotateX(27deg);
}

.page__day {
	width: 100%;
	height: 200px;
	background: skyblue;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	transition: all 0.3s ease 0s;
}

.page__day-night:hover + div {
	transform: translateX(1000px);
}

.page__image{
	max-width: 350px;
	/* position: relative;	 */
	position: absolute;
	top: 200px;
	left: 50px;
	z-index: 2;
}

.page__backface{
	width: 180px;
	height: 180px;
	position: absolute;
	top: -30px;
	left: 70px;
	cursor: pointer;
	z-index: 3;
}

.page__backface .huylo__head{
	position: absolute;
	top: 0;
	left: 0;
	transform: rotateY(180deg);
	backface-visibility: hidden;
	transition: all 0.6s ease 0s;
}

.page__backface::before{
	content: "";
	display: inline-block;
	position: absolute;
	top: -10px;
	left: -9px;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 6px dashed red;
}

.page__backface:hover img{
	transform: rotate(0deg);
}


.page__ak{
	position: absolute;
	bottom: 0;
	right: 100px;
	z-index: 2;
}

.page__image:hover + div{
	transform-origin: bottom right;
	transform: rotate(10deg);
	transform:rotate(11deg) translate(98px, -15px);
}

.page__flame{
	position: absolute;
	bottom: -15px;
	left: 638px;
	transform: rotate(36deg);
	opacity: 0;
	visibility: hidden;
	z-index: 100;
}

.page__backface:active + div{
	visibility: visible;
	opacity: 1;	
	z-index: 100;
}

.huylo__head:active{
	visibility: hidden;
	opacity: 0;
	z-index: 5;
}

.huylo__dead{
	position: absolute;
	top: 10px;
	left: 15px;
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s ease 0s ;
}

.huylo__head:active + img{
	visibility: visible;
	opacity: 1;
}

.page__barier{
	width: 100%;
	position: absolute;
	top: 750px;
	left: 0;
	z-index: 2;
}

.page__barier li:nth-child(1){
	height: 15px;
	background: rgb(168, 168, 168);
}

.page__barier li:nth-child(2){
	height: 12px;
	background: rgb(145, 145, 145);
}

.page__barier li:nth-child(3){
	height: 11px;
	background: rgb(92, 92, 92);
}

.page__barier li:nth-child(4){
	height: 30px;
	background: rgb(131, 131, 131);
}

.page__barier li:nth-child(5) {
	height: 12px;
	background: rgb(175, 174, 174);
		background: linear-gradient(180deg, rgba(175, 174, 174, 1) 35%, rgba(217, 217, 217, 1) 100%);
}

.page__barier li:nth-child(6) {
	height: 15px;
	background: rgb(138, 137, 137);
}

.page__barier li:nth-child(7) {
	height: 13px;
	background: rgb(111, 111, 111);
}

.legs__leg{
	width: 34px;
	height: 100px;
	background: rgb(168, 168, 168);
	position: absolute;
	bottom: 190px;
	left: 70px;
}

.legs__leg::before{
	content: "";
	width: 14px;
	height: 100px;
	background: rgb(129, 128, 128);
	background: linear-gradient(90deg, rgba(129, 128, 128, 1) 42%, rgba(159, 159, 159, 1) 100%);
	position: absolute;
	left: 10px;
	bottom: 0;
}

.legs__leg--second{
	left: 500px;
}

.legs__leg--third{
	left: 900px;
}

.legs::before{
	content: "";
	width: 100%;
	height: 252px;
	background: rgb(85, 85, 85);
	position: absolute;
	bottom: 0;
	left: 0;
}

.legs::after{
	content: "";
	width: 100%;
	height: 30px;
	background: rgb(174, 173, 173);
	position: absolute;
	bottom: 120px;
	left: 0;
}

