.wrapper{
	/* overflow: hidden; */
	min-height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
}

main{
	min-height: 100%;
}


.homework__container{
	width: 1000px;
	min-height: 100%;
	margin: 0 auto;
	background: pink;
	padding: 10px;
}

.homework__first{
	outline: 3px solid black;
	height: 150px;
	width: 800px;
	padding: 5px;
	margin: 0 auto;
	font-size: 24px;
	text-align: center;
	display: flex;
	justify-content: space-evenly;
	flex-direction: row-reverse;
	margin-bottom: 20px;
}

.homework__first div{
	border: 2px solid red;
	padding: 10px;
	background: rgb(35, 114, 35);
}

.homework__first div:nth-child(1){
	align-self: flex-start;
	order:4;
	flex-basis: 100px;
}

.homework__first div:nth-child(2) {
	align-self: center;
	order:3;
}

.homework__first div:nth-child(3) {
	order:2;
	vertical-align: middle;
}
.homework__first div:nth-child(4) {
	order:1;
	align-self: flex-end;
}

.homework__second{
	font-size: 36px;
	padding: 10px;
	border-radius: 10px;
	outline: 4px dashed red;
	display: inline-flex;
	width: 170px;
	flex-wrap: wrap;
	justify-content: center;
	gap: 5px;
	margin-bottom: 30px;
}

.homework__second div{
	padding: 10px;
	background: orange;
	border: 2px solid ;
}

.homework__third{
	display: flex;
	/* background-color: purple; */
	max-width: 100%;
	color: wheat;
	font-size: 36px;
	flex-wrap: wrap;
	/* margin: 0 -10px; */
	margin-bottom: 50px;
}

.table__column{
	flex: 1 0 33.333%;
	padding: 0 10px;
	text-align: center;
}
	

.homework__third .item{
	padding: 10px;
	background-color: chocolate;
}

.homework__block {
	display:flex ;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	margin-bottom: 50px;
}

.example {
	display: flex;
	margin: 0 -7.5px;
}

.example__test{
padding: 0 7.5px;
flex: 0 1 33.333%;
}

.example__column {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: flex-start;
	padding: 10px;
	min-height: 100%;
	border-radius: 10px;
	background-color: purple;
}

.test__image img{
	width: 100%;
	border-radius: 10px;
}

.test__text {
	flex-grow: 1;
}

.test__button {
	color: yellow;
	background-color: grey;
	padding: 10px;
	border-radius: 5px;
}

footer{
	color: azure;
	padding: 20px;
	text-align: center;
	background-color: green;
}