
body{
    font-family:"Lato", "sans-serif";
    font-style: normal;
}
.title{
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    width: 810px;
    height: 120px;
    margin: 190px 765px 92px 345px ;
    color: #1E212C;;
}

img{
    border-radius: 4px;
    margin: 0px 765px 60px 345px;
}

.fat{
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    width: 810px;
    height: 90px;
    margin: 0px 765px 24px 345px;
    color: #1E212C;
}

.block{
    font-weight: 400;
    height: 182px;
    width: 810px;
    line-height: 160%;
    margin: 0px 765px 48px 345px;
    color: #424551;
}

.hug{
    font-weight: 700;
    width: 752px;
    height: 120px;
    font-size: 20px;
    line-height: 150%;
    margin: 0px 765px 48px 403px;
    color: #1E212C;
}

.list p{
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    width: 810px;
    height: 52px;
    margin: 0px 765px 24px 345px;
    color: #424551;
}

ul{
    width: 600px;
    height: 116px;
    margin: 0px 975px 24px 345px ;
}

li{
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    width: 568px;
    height: 26px;
    margin-left: 32px;
    color: #424551;
}

.tape{
    margin-bottom: 4px;
}

.lust{
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;  
    width: 810px;
    height: 104px;
    margin-left: 345px;
    margin-right: 765px;
    color: #424551;

}

.hard p{
    max-width: 800px;
    height: 105px;
    margin: 0 auto;
    margin-top: 100px;
    overflow: hidden;
    border: 1px solid black;
    background: rgb(193, 193, 147);
}


.mouse .two{
    margin-top: 30px;
    width: 300px;
    height: 150px;
    overflow: scroll;
    border-left: 3px dotted green;
    border-top: 3px dotted rgb(96, 61, 119);
    margin-left: 50px;
    margin-bottom: 50px;
    outline: 20px solid red;
}

.big{
    opacity: 0;
}

.inline-first{
    display: inline-block;
    width: 600px;
    height: 100px;
    text-align: justify;
    margin-top: 50px;
    margin-left: 40px;
    background: pink;
    opacity: 0.5;
    border: 4px double transparent;
    padding: 5px;
}

.nolook{
    visibility: hidden;
}

.inline-first:hover{
    border: 4px double blueviolet;
}




.mouse .inline-second{
    text-align: center;
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50% ;
    background: rgba(255, 71, 224, 0.559);
    box-shadow: 10px 5px 7px 5px rgb(48, 102, 133);
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

.unsubscribe{
    display: inline-block;
    background:green;
    font-size: 30px;
    margin-left: 50px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 0 black ;
    transition: all 0.3s ease 0s;
    margin-bottom: 50px;
}

.unsubscribe:hover{
    margin-top: 5px;
    box-shadow: 2px 2px 0 black;
}






    
    
