
body{
    font-family:"Lato", "sans-serif";
    font-style: normal;
}


.container{
    max-width: 810px;
    margin: 0 auto;
}

.title{
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    margin-top: 190px;
    margin-bottom: 92px;
    color: #1E212C;
}

img.image{
    border-radius: 4px;
    margin-bottom: 60px;
    max-width: 100% ;
    
}

.text{
    margin-bottom: 24px;
}
.fat{
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #1E212C;
}

.block{
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 48px;
    color: #424551;
}

.first-indent{
    margin-bottom: 24px;
}
.hug{
    font-weight: 700;
    margin-left: 58px;
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 48px;
    color: #1E212C;
}

.list{
    margin-bottom: 24px;
}
.list p{
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    margin-bottom: 24px;
    color: #424551;
}

ul{
    max-width: 600px;
    
   
}

li{
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    max-width: 568px;
    padding-left: 32px;
    margin-bottom: 4px;
    color: #424551;
   
}



.lust{
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;  
    margin-bottom: 100px;
    color: #424551;
    
}

 .hard p{
    max-width: 800px;
    max-height: 105px;
    margin: 0 auto;
    margin-bottom: 30px;
    overflow: hidden;
    border: 1px solid black;
    background: rgb(193, 193, 147);
}


.mouse .two{
    max-width: 300px;
    max-height: 150px;
    overflow: scroll;
    border-left: 3px dotted green;
    border-top: 3px dotted rgb(96, 61, 119);
    margin-left: 50px;
    margin-bottom: 50px;
    outline: 20px solid red;
}

.big{
    opacity: 0;
    margin-bottom: 50px;
}

.inline-first{
    display: inline-block;
    width: 600px;
    height: 100px;
    text-align: justify;
    margin-left: 40px;
    background: pink;
    opacity: 0.5;
    border: 4px double transparent;
    padding: 5px;
    overflow: auto;
}

.nolook{
    visibility: hidden;
    margin-bottom: 50px;
}

.inline-first:hover{
    border: 4px double blueviolet;
}




.mouse .inline-second{
    text-align: center;
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50% ;
    background: rgba(255, 71, 224, 0.559);
    box-shadow: 10px 5px 7px 5px rgb(48, 102, 133);
    margin: 0 auto;
    margin-bottom: 50px;
    overflow: hidden;
    
}

.unsubscribe{
    display: inline-block;
    background:green;
    font-size: 30px;
    margin-left: 50px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 0 black ;
    transition: all 0.3s ease 0s;
    margin-bottom: 50px;
    overflow: hidden;
}

.unsubscribe:hover{
    margin-top: 5px;
    box-shadow: 2px 2px 0 black;
}

.items{
    font-size: 0;
    margin-bottom: 50px;
}
.item{
    background: skyblue;
    font-size: 150px;
}

 








    
    
