
/* [class*='__container']{
	max-width: 1230px;
		margin: 0 auto;
}
.middle {}

.middle__container {}

.middle__text {}

.middle__button {}

.button {}

.middle_sections {}

.middle_section {}

.section-content {}

.section-content__image {}

.section-content__slogan {
	color: green;
}

.section-content__text {}

.section-content__price {
	color: red;
}

.section-content__name {}

.section-content__slogan_blue {
	color: blue;
}

.section-content__slogan_orange {
	color: orange;
}

.section-content__slogan_purple {
	color: purple;
} */